/* font-family: 'Anton', sans-serif;
font-family: 'Raleway', sans-serif; 

font-family: 'Anton', sans-serif;
font-family: 'Lobster Two', cursive;
*/

body {
    background: #F3FCFF;
    color: #11121B;
    font-family: 'Anton', sans-serif;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 4em;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    font-size: .9em;
}

.main {
    margin: 30px;
}

.nav,
footer {
    margin: 30px;
    text-align: center;
}

footer p, footer b {
    font-size: .8em;
    margin: 0;
    padding: 0;
}

a {
    color: #11121B;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link {
    text-transform: uppercase;
    color: #11121B;
    letter-spacing: 3px;
    padding: 10px;
}

a:hover,
.nav-link:hover {
    color: #7C616C;
}

.block {
    text-align: center;
    letter-spacing: 1px;
    font-size: .9em;
}

.block img {
    margin: 20px 0;
}

@media (max-width:450px) {
    h1 {
        color:#7C616C;
        font-size: 3em;
    }
    .nav {
        font-size: .5em;
    }
}