/*
Headline font:
font-family: 'Roboto Slab', serif;

Body font:
font-family: 'Radio Canada', sans-serif;
*/

body {
    background: #17255A;
    color: #f7ead7;
    font-family: 'Radio Canada', sans-serif;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: #f7ead7;
    text-decoration-color: #D88373;
}

a:hover {
    color: #D88373;
    background-color: #f7ead7;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600; 
    font-size: 2.7em;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;   
    font-size: 2.3em;
    margin-top: 5%;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

.figure {
    width: 100%;
    height: 50%;
}

.caption {
    font-size: .9em;
}

.graphic {
    background: #ffffff;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media(max-width:850px) {
    body {
        font-size: 16px;
    }
}

@media(max-width:450px) {
    body {
        font-size: 14px;
        margin: 0%;
    }
    h1 {
        font-size: 22px;
    }
    h3 {
        font-size: 19px;
    }
}